*{ 
	margin: 0;
	padding: 0;
}
#id0{
	padding: 10px 50px 10px 10px;
	background-color: #ffffff;
	
}
#id1{
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	
}
#id3{
	background-color: #1a1aff;
	padding: 10px 50px 10px 10px;
}